# General ignores
.DS_Store
build
out
kotlin-js-store

# IntelliJ ignores
*.iml
/*.ipr

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/*.iml
/.idea/modules
/.idea/libraries-with-intellij-classes.xml

# Gradle ignores
.gradle

/server/src/main/resources/application.properties
/server/src/main/kotlin/code/yousef/utilities/DataInitializer.kt
/server/src/main/resources/META-INF/resources/rsaPrivateKey.pem
/server/src/main/resources/publicKey.pem
/server/src/main/resources/privateKey.pem
/local.properties
